1) Write a python program to display all the header tags from wikipedia.org.

In [2]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.25.11)

In [10]:
from bs4 import BeautifulSoup
import requests

In [11]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

page

# Scraping Header tags

In [20]:
soup=BeautifulSoup(page.content)

header = []

for i in soup.find_all('span',class_="mw-headline"):
    header.append(i.text)
    
header

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [23]:
import pandas as pd

df=pd.DataFrame({"Header tags":header})
df

                     Header tags
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [115]:
from bs4 import BeautifulSoup
import requests

Movie=requests.get('https://www.imdb.com/list/ls055592025/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
Movie

In [116]:
import pandas as pd


Movie=BeautifulSoup(Movie.content)



movie_name = []

row=Movie.find_all('h3',class_="lister-item-header")

for i in row:
    for f in i('a'):
        movie_name.append(f.text)
rating= []

for i in Movie.find_all('div',class_="ipl-rating-star small"):
    rating.append(i.text.replace('\n',''))

release_data=[]    
    
for i in Movie.find_all('span',"lister-item-year text-muted unbold"):
    release_data.append(i.text.replace("(","").replace(")",""))
    
import numpy as np
import pandas as pd

df=pd.DataFrame({"name of movies":movie_name,"Ratings":rating,"Release Date":release_data})
df

                                   name of movies Ratings Release Date
0                        The Shawshank Redemption     9.3         1994
1                                   The Godfather     9.2         1972
2   The Lord of the Rings: The Return of the King       9         2003
3                           The Godfather Part II       9         1974
4                                Schindler's List       9         1993
..                                            ...     ...          ...
95                            Yankee Doodle Dandy     7.6         1942
96                              Wuthering Heights     7.5         1939
97                              American Graffiti     7.4         1973
98                            Terms of Endearment     7.4         1983
99                           An American in Paris     7.2         1951

[100 rows x 3 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [120]:
from bs4 import BeautifulSoup
import requests

indian_Movie=requests.get('https://www.imdb.com/list/ls056092300/')
indian_Movie

In [121]:
import pandas as pd


indian_Movie=BeautifulSoup(indian_Movie.content)



movie_name = []

row=indian_Movie.find_all('h3',class_="lister-item-header")

for i in row:
    for f in i('a'):
        movie_name.append(f.text)
rating= []

for i in indian_Movie.find_all('div',class_="ipl-rating-star small"):
    rating.append(i.text.replace('\n',''))

release_data=[]    
    
for i in indian_Movie.find_all('span',"lister-item-year text-muted unbold"):
    release_data.append(i.text.replace("(","").replace(")",""))
    
import numpy as np
import pandas as pd

df=pd.DataFrame({"name of movies":movie_name,"Ratings":rating,"Release Date":release_data})
df

                       name of movies Ratings Release Date
0                     Ship of Theseus       8         2012
1                              Iruvar     8.4         1997
2                     Kaagaz Ke Phool     7.8         1959
3   Lagaan: Once Upon a Time in India     8.1         2001
4                     Pather Panchali     8.3         1955
..                                ...     ...          ...
95                        Apur Sansar     8.5         1959
96                        Kanchivaram     8.1         2008
97                    Monsoon Wedding     7.3         2001
98                              Black     8.1         2005
99                            Deewaar       8         1975

[100 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
from https://presidentofindia.nic.in/former-presidents.htm

In [240]:
from bs4 import BeautifulSoup
import requests
president=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
president

In [242]:
president_data=BeautifulSoup(president.content)

raw=president_data.find_all("div",class_="presidentListing")

Presidant_name = []

for i in raw:
    for j in i('h3'):
        Presidant_name.append(j.text)

term=[]
for i in raw:
    for f in i.find_all('p'):
        term.append(f.text)
        
del term[1:9:2]  
       
  

import pandas as pd

df=pd.DataFrame({"Term":term})




df1=pd.DataFrame({"President_Name":Presidant_name})

result = pd.concat([df1,df],axis=1)
result

,President_Name,Term
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

# 5) Write a python program to scrape cricket rankings from icc-cricket.com.

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [8]:
from bs4 import BeautifulSoup
import requests

mensrank=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
mensrank

In [9]:
men=BeautifulSoup(mensrank.content)

team=[]

for i in men.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)

In [10]:
rank1=[]

for c in men.find_all('td',class_="rankings-block__banner--matches"):
    rank1.append(c.text)
    
pints1=[]    
    
for r in men.find_all('td',class_="rankings-block__banner--points"):
    pints1.append(r.text)    

rtng=[]  

for g in men.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rtng.append(g.text.replace('\n','',))

rtng1=[]

for o in men.find_all('td',class_="table-body__cell u-text-right rating"):
    rtng1.append(o.text.replace('\n','',))
ratings=rtng+rtng1

rank2=[]

import pandas as pd
import numpy as np

for d in men.find_all('td',class_="table-body__cell u-center-text"):
    rank2.append(d.text)
mtc=rank2[0:38:2]
pints=rank2[1:38:2]

matches=rank1+mtc
points=pints1+pints

df=pd.DataFrame({'Team':team,'Matches':matches,'Points':points,'Rating':ratings})
print('Top 10 ODI teams in men’s cricket :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI teams in men’s cricket :

,Team,Matches,Points,Rating
1,England,27,"3,226",119 ...
2,New Zealand,22,"2,508",114
3,India,31,"3,447",111
4,Pakistan,22,"2,354",107
5,Australia,29,"3,071",106
6,South Africa,21,"2,111",101
7,Bangladesh,30,"2,753",92
8,Sri Lanka,29,"2,658",92
9,West Indies,41,"2,902",71
10,Afghanistan,18,"1,238",69

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [72]:
from bs4 import BeautifulSoup
import requests

topbetsman=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
topbetsman

In [93]:
data=BeautifulSoup(topbetsman.content)

plyr=[]

for a in data.find_all('div',class_="rankings-block__banner--name-large"):
    plyr.append(a.text)
            
plyr1=[]

for b in data.find_all('td',class_="table-body__cell rankings-table__name name"):
    plyr1.append(b.text.replace('\n',''))
    
player=plyr+plyr1

tm=[]

for c in data.find_all('div',class_="rankings-block__banner--nationality"):
    tm.append(c.text.replace('\n',''))
    
tm1=[] 

for d in data.find_all('span',class_="table-body__logo-text"):
    tm1.append(d.text)

team=tm+tm1    
 
rtng=[]

for e in data.find_all('div',class_="rankings-block__banner--rating"):
    rtng.append(e.text)
    
rtng1=[] 

for f in data.find_all('td',class_="table-body__cell rating"):
    rtng1.append(f.text)

rating=rtng+rtng1

import pandas as pd
import numpy as np

df=pd.DataFrame({'Player':player,'Team':team,'Ratings':rating})
print('Top 10 ODI batsmen :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI batsmen :

                   Player                     Team Ratings
1              Babar Azam  PAK                         890
2   Rassie van der Dussen                       SA     789
3         Quinton de Kock                       SA     784
4             Imam-ul-Haq                      PAK     779
5             Virat Kohli                      IND     744
6            Rohit Sharma                      IND     740
7          Jonny Bairstow                      ENG     732
8            David Warner                      AUS     725
9             Ross Taylor                       NZ     701
10            Steve Smith                      AUS     697

c) Top 10 ODI bowlers along with the records of their team and rating.

In [106]:
from bs4 import BeautifulSoup
import requests

topbowlers=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
topbowlers

In [116]:
data2=BeautifulSoup(topbowlers.content)

plyr2=[]

for m in data2.find_all('div',class_="rankings-block__banner--name-large"):
    plyr2.append(m.text)
            
plyr3=[]

for n in data2.find_all('td',class_="table-body__cell rankings-table__name name"):
    plyr3.append(n.text.replace('\n',''))
    
player1=plyr2+plyr3


tm2=[]

for c in data2.find_all('div',class_="rankings-block__banner--nationality"):
    tm2.append(c.text.replace('\n',''))
    
tm3=[] 

for d in data2.find_all('span',class_="table-body__logo-text"):
    tm3.append(d.text)

team2=tm2+tm3

rtng2=[]

for e in data2.find_all('div',class_="rankings-block__banner--rating"):
    rtng2.append(e.text)
    
rtng3=[] 

for f in data2.find_all('td',class_="table-body__cell rating"):
    rtng3.append(f.text)

rating2=rtng2+rtng3

df=pd.DataFrame({'Player':player1,'Team':team2,'Ratings':rating2})
print('Top 10 ODI bowlers :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI bowlers :

              Player                    Team Ratings
1        Trent Boult  NZ                         775
2     Josh Hazlewood                     AUS     718
3   Mujeeb Ur Rahman                     AFG     676
4     Jasprit Bumrah                     IND     662
5     Shaheen Afridi                     PAK     661
6      Mohammad Nabi                     AFG     657
7       Mehedi Hasan                     BAN     655
8         Matt Henry                      NZ     654
9     Mitchell Starc                     AUS     653
10       Rashid Khan                     AFG     651

#    # 6) Write a python program to scrape cricket rankings from icc-cricket.com.

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [11]:
from bs4 import BeautifulSoup
import requests

womensrank=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
womensrank

In [12]:
women=BeautifulSoup(womensrank.content)

wteam=[]

for i in women.find_all('span',class_="u-hide-phablet"):
    wteam.append(i.text)

In [16]:
wrank1=[]

for c in women.find_all('td',class_="rankings-block__banner--matches"):
    wrank1.append(c.text)
    
wpints1=[]    
    
for r in women.find_all('td',class_="rankings-block__banner--points"):
    wpints1.append(r.text)    

wrtng=[]  

for g in women.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    wrtng.append(g.text.replace('\n','',))

wrtng1=[]

for o in women.find_all('td',class_="table-body__cell u-text-right rating"):
    wrtng1.append(o.text.replace('\n','',))
wratings=wrtng+wrtng1

wrank2=[]

import pandas as pd
import numpy as np

for d in women.find_all('td',class_="table-body__cell u-center-text"):
    wrank2.append(d.text)
wmtc=wrank2[0:38:2]
wpints=wrank2[1:38:2]

wmatches=wrank1+wmtc
wpoints=wpints1+wpints

df=pd.DataFrame({'Team':wteam,'Matches':wmatches,'Points':wpoints,'Rating':wratings})
print('Top 10 ODI teams in women’s cricket :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI teams in women’s cricket :

,Team,Matches,Points,Rating
1,Australia,29,"4,837",167 ...
2,England,34,"4,097",121
3,South Africa,35,"4,157",119
4,India,33,"3,392",103
5,New Zealand,32,"3,161",99
6,West Indies,31,"2,815",91
7,Bangladesh,12,930,78
8,Pakistan,30,"1,962",65
9,Ireland,11,516,47
10,Sri Lanka,11,495,45

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [17]:
from bs4 import BeautifulSoup
import requests

wtopbetsman=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
wtopbetsman

In [19]:
wdata=BeautifulSoup(wtopbetsman.content)

wplyr=[]

for a in wdata.find_all('div',class_="rankings-block__banner--name-large"):
    wplyr.append(a.text)
            
wplyr1=[]

for b in wdata.find_all('td',class_="table-body__cell rankings-table__name name"):
    wplyr1.append(b.text.replace('\n',''))
    
wplayer=wplyr+wplyr1

wtm=[]

for c in wdata.find_all('div',class_="rankings-block__banner--nationality"):
    wtm.append(c.text.replace('\n',''))
    
wtm1=[] 

for d in wdata.find_all('span',class_="table-body__logo-text"):
    wtm1.append(d.text)

wteam=wtm+wtm1    
 
wrtng=[]

for e in wdata.find_all('div',class_="rankings-block__banner--rating"):
    wrtng.append(e.text)
    
wrtng1=[] 

for f in wdata.find_all('td',class_="table-body__cell rating"):
    wrtng1.append(f.text)

wrating=wrtng+wrtng1

import pandas as pd
import numpy as np

df=pd.DataFrame({'Player':wplayer,'Team':wteam,'Ratings':wrating})
print('Top 10 ODI Women batsmen :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI Women batsmen :

                 Player                     Team Ratings
1          Alyssa Healy  AUS                         785
2           Beth Mooney                      AUS     749
3        Natalie Sciver                      ENG     740
4       Laura Wolvaardt                       SA     732
5           Meg Lanning                      AUS     710
6        Rachael Haynes                      AUS     701
7       Smriti Mandhana                      IND     698
8     Amy Satterthwaite                       NZ     681
9      Harmanpreet Kaur                      IND     662
10  Chamari Athapaththu                       SL     655

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [20]:
from bs4 import BeautifulSoup
import requests

atopbetsman=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
atopbetsman

In [21]:
adata=BeautifulSoup(atopbetsman.content)

aplyr=[]

for a in adata.find_all('div',class_="rankings-block__banner--name-large"):
    aplyr.append(a.text)
            
aplyr1=[]

for b in adata.find_all('td',class_="table-body__cell rankings-table__name name"):
    aplyr1.append(b.text.replace('\n',''))
    
aplayer=aplyr+aplyr1

atm=[]

for c in adata.find_all('div',class_="rankings-block__banner--nationality"):
    atm.append(c.text.replace('\n',''))
    
atm1=[] 

for d in adata.find_all('span',class_="table-body__logo-text"):
    atm1.append(d.text)

ateam=atm+atm1    
 
artng=[]

for e in adata.find_all('div',class_="rankings-block__banner--rating"):
    artng.append(e.text)
    
artng1=[] 

for f in adata.find_all('td',class_="table-body__cell rating"):
    artng1.append(f.text)

arating=artng+artng1

import pandas as pd
import numpy as np

df=pd.DataFrame({'Player':aplayer,'Team':ateam,'Ratings':arating})
print('Top 10 ODI Womens Allrounder :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI Womens Allrounder :

               Player                     Team Ratings
1        Ellyse Perry  AUS                         374
2      Natalie Sciver                      ENG     372
3      Marizanne Kapp                       SA     349
4     Hayley Matthews                       WI     339
5         Amelia Kerr                       NZ     336
6       Deepti Sharma                      IND     271
7    Ashleigh Gardner                      AUS     270
8       Jess Jonassen                      AUS     246
9      Jhulan Goswami                      IND     219
10  Sophie Ecclestone                      ENG     217

7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [64]:
from bs4 import BeautifulSoup
import requests

latestnews=requests.get("https://www.cnbc.com/world/?region=world")
latestnews

In [88]:
getdata=BeautifulSoup(latestnews.content)

Headline=[]

for i in getdata.find_all('a',class_="LatestNews-headline"):
    Headline.append(i.text)
    
Time=[]   

for b in getdata.find_all('time',class_="LatestNews-timestamp"):
    Time.append(b.text)

Links=[]

for c in getdata.find_all('a',class_="LatestNews-headline"):
    Links.append(c['href'])
    
df=pd.DataFrame({'__________________HEADLINE___________________':Headline,'__TIME__':Time,'__________________LINKS_________________':Links})
df.index = np.arange(1,len(df)+1)
df

,__________________HEADLINE___________________,__TIME__,__________________LINKS_________________
1,Trip.com says China hotel bookings are surpass...,9 Min Ago,https://www.cnbc.com/2022/09/22/tripcom-says-c...
2,"2-year Treasury yield hovers around 4.1%, gap ...",13 Min Ago,https://www.cnbc.com/2022/09/22/2-year-treasur...
3,Airline tickets could become even more expensi...,47 Min Ago,https://www.cnbc.com/2022/09/22/airline-ticket...
4,"Russia arrests over 1,300 after Putin mobilize...",55 Min Ago,https://www.cnbc.com/2022/09/22/ukraine-war-ru...
5,"Amazon, Microsoft and Google face UK probe ove...",1 Hour Ago,https://www.cnbc.com/2022/09/22/uks-ofcom-prob...
6,Ukraine welcomes home 'heroes' after prisoner ...,1 Hour Ago,https://www.cnbc.com/2022/09/22/russia-ukraine...
7,Swiss central bank hikes interest rate as infl...,1 Hour Ago,https://www.cnbc.com/2022/09/22/swiss-central-...
8,The far-right is expected to win Italy's elect...,2 Hours Ago,https://www.cnbc.com/2022/09/22/italian-electi...
9,Xpeng breaks out of a lower price range with i...,3 Hours Ago,https://www.cnbc.com/2022/09/22/xpeng-breaks-o...
10,Turkey's lira hits new low as investors brace ...,4 Hours Ago,https://www.cnbc.com/2022/09/22/investors-brac...
11,European markets slide as investors digest mor...,4 Hours Ago,https://www.cnbc.com/2022/09/22/european-marke...
12,The U.S. and allies are joining forces on chip...,7 Hours Ago,https://www.cnbc.com/2022/09/22/semiconductor-...
13,Outperforming fund manager reveals what he's b...,8 Hours Ago,https://www.cnbc.com/2022/09/22/outperforming-...
14,'Boring is beautiful': Morgan Stanley's Wilson...,8 Hours Ago,https://www.cnbc.com/2022/09/22/morgan-stanley...
15,The most common crime in UK hotels isn't theft,8 Hours Ago,https://www.cnbc.com/2022/09/22/what-are-the-m...
16,Yen pops on reports of direct intervention; As...,9 Hours Ago,https://www.cnbc.com/2022/09/22/asia-markets-f...
17,Cramer's lightning round: Keep your powder dry...,10 Hours Ago,https://www.cnbc.com/2022/09/21/cramers-lightn...
18,FTX in talks to raise up to $1 billion at flat...,10 Hours Ago,https://www.cnbc.com/2022/09/21/ftx-in-talks-t...
19,Watch live: Ukrainian President Zelenskyy to a...,10 Hours Ago,https://www.cnbc.com/2022/09/21/watch-uk-prime...
20,Investors betting short term will miss out whe...,10 Hours Ago,https://www.cnbc.com/2022/09/21/investors-bett...
21,Marvell CEO tells Cramer: We're doing much bet...,10 Hours Ago,https://www.cnbc.com/2022/09/21/marvell-ceo-te...
22,Salesforce aims for 25% operating margin in 20...,11 Hours Ago,https://www.cnbc.com/2022/09/21/salesforce-aim...
23,Pro Picks: Watch all of Wednesday's big stock ...,11 Hours Ago,https://www.cnbc.com/2022/09/21/pro-picks-watc...
24,Stock futures inch up as traders weigh another...,11 Hours Ago,https://www.cnbc.com/2022/09/21/stock-market-f...
25,Stocks making the biggest moves after hours: H...,12 Hours Ago,https://www.cnbc.com/2022/09/21/stocks-making-...
26,GM to close reservations for electric Hummer p...,12 Hours Ago,https://www.cnbc.com/2022/09/21/gm-to-close-re...
27,Watch live: Ukrainian President Zelenskyy to a...,12 Hours Ago,https://www.cnbc.com/2022/09/21/watch-ukrainia...
28,Twitch announces ban on unlicensed gambling li...,12 Hours Ago,https://www.cnbc.com/2022/09/21/twitch-announc...
29,Read the highlights of the new lawsuit against...,12 Hours Ago,https://www.cnbc.com/2022/09/21/trump-properti...
30,3 of our stocks are in the news — here's our t...,12 Hours Ago,https://www.cnbc.com/2022/09/21/investing-club...

8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

In [31]:
from bs4 import BeautifulSoup
import requests

Access=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
Access

In [34]:
Articles=BeautifulSoup(Access.content)

title=[]

for i in Articles.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)
    
authors=[]

for e in Articles.find_all('span',class_='sc-1w3fpd7-0 pgLAT'):
    authors.append(e.text)

date=[]

for c in Articles.find_all('span',class_='sc-1thf9ly-2 bKddwo'):
    date.append(c.text)
    
url=[] 

for r in Articles.find_all('a',class_='sc-5smygv-0 nrDZj'):
    url.append(r.get('href'))

import pandas as pd
import numpy as np
    
df=pd.DataFrame({'Title':title,'Authors':authors,'Date':date,'Url':url})
print("Most Downloaded Articles :")
df.index=np.arange(1,len(df)+1)
df

Most Downloaded Articles :

,Title,Authors,Date,Url
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
25,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

9) Write a python program to scrape mentioned details from dineout.co.in

In [1]:
from bs4 import BeautifulSoup
import requests

dine=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
dine

In [42]:
htl = BeautifulSoup(dine.content)

name = []
for i in htl.find_all('div',class_="restnt-info cursor"):
    for j in i.find_all('a',class_="restnt-name ellipsis"):
        name.append(j.text)
cru = []
for l in htl.find_all('div',class_="detail-info"):
    cru.append(l.text)
loca = []
for k in htl.find_all('div',class_="restnt-loc ellipsis"):
    loca.append(k.text)
ratng = []
for m in htl.find_all('div',class_="restnt-rating rating-4"):
    ratng.append(m.text)
image= []
for n in htl.find_all('img',class_="no-img"):
    image.append(n['data-src'])
import pandas
df =pandas.DataFrame({'Restaurant Name':name, 'Cuisine':cru, 'Location':loca, 'Ratings':ratng, 'Image URL':image})
df1=df.set_index('Restaurant Name')
df1

,Cuisine,Location,Ratings,Image URL
Restaurant Name,,,,
Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
Jungle Jamboree,"₹ 1,680 for 2 (approx) | North Indian, Asian, ...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Cafe Knosh,"₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
The Barbeque Company,"₹ 1,700 for 2 (approx) | North Indian, Chinese...","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
India Grill,"₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Delhi Barbeque,"₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
The Monarch - Bar Be Que Village,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
Indian Grill Room,"₹ 2,200 for 2 (approx) | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

10) Write a python program to scrape the details of top publications from Google Scholar

In [44]:
matrix=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
matrix

In [46]:
load=BeautifulSoup(matrix.content)

ranking=[]

for i in load.find_all('td',class_="gsc_mvt_p"):
    ranking.append(i.text)
pubn=[]
for i in load.find_all('td',class_="gsc_mvt_t"):
    pubn.append(i.text)
h5 = []
for k in load.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5.append(k.text)
h5m = []
for l in load.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5m.append(l.text)
import pandas as pan
df = pan.DataFrame({'Rank':ranking, 'Publication':pubn, 'h5-index':h5, 'h5-median':h5m})
df1=df.set_index('Rank')
df1

                                            Publication h5-index h5-median
Rank
1.                                               Nature      444       667
2.                  The New England Journal of Medicine      432       780
3.                                              Science      401       614
4.    IEEE/CVF Conference on Computer Vision and Pat...      389       627
5.                                           The Lancet      354       635
...                                                 ...      ...       ...
96.                        Journal of Business Research      145       233
97.                                    Molecular Cancer      145       209
98.                                             Sensors      145       201
99.                               Nature Climate Change      144       228
100.                    IEEE Internet of Things Journal      144       212

[100 rows x 3 columns]