# Web scraping for car data collection

In [1]:
from PIL import Image
import io
import re 
import time
import pandas as pd
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings("ignore")
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import urllib.request
import os

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [17]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.13)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2022.9.24)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6; extra == "socks" in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.10 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9; python_version < "3.11" in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.3)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.2.2)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium) (2.20)

In [18]:
driver=webdriver.Chrome(r"D:\driver\chromedriver.exe")

In [19]:
url=("https://www.cars24.com/buy-used-cars/")
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [11]:
# scrolling the web page 
for _ in range(100):
    driver.execute_script("window.scrollBy(0,1000)")

In [22]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[2]/ul/li[4]/a')
search.click()

## Mumbai Data

In [118]:
driver=webdriver.Chrome(r"D:\driver\chromedriver.exe")

In [119]:
url=("https://www.cars24.com/buy-used-cars/")
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [121]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[1]/div/div/div/input')

In [124]:
Search.send_keys("Mumbai")

In [125]:
Clicksearch=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[2]/ul/li/a/span/img')

In [126]:
Clicksearch.click()

In [127]:
#Creating empty list 
Brand4 = []
Model4 = []
Variant4=[]
Manufacturing_Year4 = []
Driven_KiloMeters4= []
Fuel4 = []
Number_of_Owners4 = []

Car_Price4= []

#Fetching data for Brand    


#Fetching data for Model   
try:
    Model_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name:
        Model4.append(i.text)
except NoSuchElementException as e:
    Model4.append('-')

#Fetching data for Variant   
try:
    Variant_name=driver.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name:
        Variant4.append(i.text)
except NoSuchElementException as e:
    Variant4.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing:
        Manufacturing_Year4.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year4.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter:
        Driven_KiloMeters4.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters4.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name:
        Fuel4.append(i.text)
except NoSuchElementException as e:
    Fuel4.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner:
        Number_of_Owners4.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners4.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr:
        Car_Price4.append(i.text)
except NoSuchElementException as e:
    Car_Price4.append('-')

In [135]:
Brandm=[]
try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brandm.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brandm.append('-')

In [136]:
len(Brandm),len(Model4),len(Variant4),len(Manufacturing_Year4),len(Driven_KiloMeters4),len(Fuel4),len(Number_of_Owners4),len(Car_Price4)

(638, 638, 638, 638, 638, 638, 638, 638)

In [137]:
Mumbaidata= pd.DataFrame({'Brand':Brandm, 'Model':Model4, 'Variant':Variant4, 'Manufacturing_Year':Manufacturing_Year4, 'Driven_KiloMeters':Driven_KiloMeters4, 'Fuel':Fuel4, 'Number_of_Owners':Number_of_Owners4,  'Car_Price':Car_Price4})
Mumbaidata

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,Maruti,2015 Maruti Swift Dzire,VXI Manual,2015,"92,630 km",Petrol,1st Owner,"₹4,53,000"
1,Tata,2018 Tata Tiago,XZA 1.2 REVOTRON Automatic,2018,"15,548 km",Petrol,2nd Owner,"₹5,08,000"
2,Ford,2014 Ford Ecosport,1.5 TITANIUMTDCI OPT Manual,2014,"93,737 km",Diesel,1st Owner,"₹5,65,000"
3,Hyundai,2013 Hyundai Verna,FLUIDIC 1.6 EX VTVT Manual,2013,"10,546 km",Petrol,1st Owner,"₹4,74,400"
4,Datsun,2016 Datsun Redi Go,T (O) Manual,2016,"31,546 km",Petrol,2nd Owner,"₹2,00,000"
...,...,...,...,...,...,...,...,...
633,Maruti,2012 Maruti Alto 800,LXI Manual,2012,"18,747 km",Petrol,1st Owner,"₹2,00,000"
634,Honda,2015 Honda Amaze,1.2 SMT I VTEC Manual,2015,"37,000 km",Petrol,1st Owner,"₹3,99,000"
635,Hyundai,2020 Hyundai Creta,SX PETROL MT Manual,2020,"4,518 km",Petrol,1st Owner,"₹15,54,000"
636,Maruti,2021 Maruti S Cross,ZETA AT 1.5 SHVS Automatic,2021,"18,036 km",Petrol,1st Owner,"₹11,77,000"
637,Maruti,2018 Maruti Swift,VXI Manual,2018,"27,682 km",Petrol,2nd Owner,"₹5,20,000"

## Bangalore data

In [145]:
driver=webdriver.Chrome(r"D:\driver\chromedriver.exe")

In [146]:
url=("https://www.cars24.com/buy-used-cars/")
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [147]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[1]/div/div/div/input')

In [148]:
Search.send_keys("Bangalore")

In [149]:
Clicksearch=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[2]/ul/li/a/span/img')

In [150]:
Clicksearch.click()

In [151]:
#Creating empty list 
Brand5 = []
Model5 = []
Variant5=[]
Manufacturing_Year5 = []
Driven_KiloMeters5= []
Fuel5 = []
Number_of_Owners5 = []

Car_Price5= []

#Fetching data for Brand

try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brand5.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand5.append('-')


#Fetching data for Model   
try:
    Model_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name:
        Model5.append(i.text)
except NoSuchElementException as e:
    Model5.append('-')

#Fetching data for Variant   
try:
    Variant_name=driver.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name:
        Variant5.append(i.text)
except NoSuchElementException as e:
    Variant5.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing:
        Manufacturing_Year5.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year5.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter:
        Driven_KiloMeters5.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters5.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name:
        Fuel5.append(i.text)
except NoSuchElementException as e:
    Fuel5.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner:
        Number_of_Owners5.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners5.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr:
        Car_Price5.append(i.text)
except NoSuchElementException as e:
    Car_Price5.append('-')

In [152]:
len(Brand5),len(Model5),len(Variant5),len(Manufacturing_Year5),len(Driven_KiloMeters5),len(Fuel5),len(Number_of_Owners5),len(Car_Price5)

(1066, 1066, 1066, 1066, 1066, 1066, 1066, 1066)

In [159]:
Bangaloredata= pd.DataFrame({'Brand':Brand5, 'Model':Model5, 'Variant':Variant5, 'Manufacturing_Year':Manufacturing_Year5, 'Driven_KiloMeters':Driven_KiloMeters5, 'Fuel':Fuel5, 'Number_of_Owners':Number_of_Owners5,  'Car_Price':Car_Price5})
Bangaloredata

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,Mahindra,2016 Mahindra TUV300,T8 Manual,2016,"55,104 km",Diesel,1st Owner,"₹7,34,000"
1,Hyundai,2010 Hyundai i20,MAGNA O 1.2 Manual,2010,"75,695 km",Petrol,1st Owner,"₹3,24,000"
2,Hyundai,2011 Hyundai i20,MAGNA O 1.2 Manual,2011,"65,582 km",Petrol,3rd Owner,"₹3,24,000"
3,Hyundai,2018 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2018,"50,583 km",Petrol,2nd Owner,"₹4,71,000"
4,Hyundai,2012 Hyundai i10,MAGNA 1.1 IRDE2 Manual,2012,"43,411 km",Petrol,2nd Owner,"₹2,98,000"
...,...,...,...,...,...,...,...,...
1061,Volkswagen,2015 Volkswagen Vento,COMFORTLINE MT PETROL Automatic,2015,"55,129 km",Petrol,1st Owner,"₹6,08,000"
1062,Hyundai,2014 Hyundai i20,MAGNA O 1.2 Manual,2014,"30,348 km",Petrol,1st Owner,"₹5,10,000"
1063,Maruti,2016 Maruti Vitara Brezza,VDI OPT Manual,2016,"78,282 km",Diesel,1st Owner,"₹8,20,000"
1064,Maruti,2013 Maruti Alto K10,VXI Manual,2013,"33,773 km",Petrol,2nd Owner,"₹2,70,000"
1065,Renault,2018 Renault Kwid,CLIMBER 1.0 Manual,2018,"43,986 km",Petrol,1st Owner,"₹3,93,000"

## Hyderabad

In [153]:
driver=webdriver.Chrome(r"D:\driver\chromedriver.exe")

In [154]:
url=("https://www.cars24.com/buy-used-cars/")
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [155]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[1]/div/div/div/input')

In [156]:
Search.send_keys("Hyderabad")

In [157]:
Clicksearch=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[2]/ul/li/a/span/img')

In [158]:
Clicksearch.click()

In [160]:
#Creating empty list 
Brand6 = []
Model6 = []
Variant6=[]
Manufacturing_Year6 = []
Driven_KiloMeters6= []
Fuel6 = []
Number_of_Owners6 = []
Car_Price6= []

#Fetching data for Brand

try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brand6.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand6.append('-')


#Fetching data for Model   
try:
    Model_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name:
        Model6.append(i.text)
except NoSuchElementException as e:
    Model6.append('-')

#Fetching data for Variant   
try:
    Variant_name=driver.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name:
        Variant6.append(i.text)
except NoSuchElementException as e:
    Variant6.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing:
        Manufacturing_Year6.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year6.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter:
        Driven_KiloMeters6.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters6.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name:
        Fuel6.append(i.text)
except NoSuchElementException as e:
    Fuel6.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner:
        Number_of_Owners6.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners6.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr:
        Car_Price6.append(i.text)
except NoSuchElementException as e:
    Car_Price6.append('-')

In [161]:
len(Brand6),len(Model6),len(Variant6),len(Manufacturing_Year6),len(Driven_KiloMeters6),len(Fuel6),len(Number_of_Owners6),len(Car_Price6)

(608, 608, 608, 608, 608, 608, 608, 608)

In [162]:
Hyderabaddata= pd.DataFrame({'Brand':Brand6, 'Model':Model6, 'Variant':Variant6, 'Manufacturing_Year':Manufacturing_Year6, 'Driven_KiloMeters':Driven_KiloMeters6, 'Fuel':Fuel6, 'Number_of_Owners':Number_of_Owners6,  'Car_Price':Car_Price6})
Hyderabaddata

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,Honda,2018 Honda Amaze,1.2 S (O) MT I VTEC Manual,2018,"50,754 km",Petrol,1st Owner,"₹5,19,000"
1,Hyundai,2012 Hyundai Verna,FLUIDIC 1.6 EX CRDI Manual,2012,"1,00,170 km",Diesel,1st Owner,"₹4,96,000"
2,KIA,2021 KIA SONET,GTX + 1.0 IMT,2021,"22,099 km",Petrol,1st Owner,"₹12,10,000"
3,Maruti,2017 Maruti S Cross,ZETA 1.3 Manual,2017,"59,371 km",Diesel,1st Owner,"₹8,00,000"
4,Renault,2018 Renault Kwid,CLIMBER 1.0 Manual,2018,"52,311 km",Petrol,2nd Owner,"₹4,04,000"
...,...,...,...,...,...,...,...,...
603,Hyundai,2016 Hyundai Elite i20,ASTA 1.2 (O) Manual,2016,"51,700 km",Petrol,1st Owner,"₹6,92,000"
604,Hyundai,2018 Hyundai Verna,1.6 CRDI SX + AT Automatic,2018,"27,134 km",Diesel,1st Owner,"₹11,87,000"
605,Hyundai,2014 Hyundai Grand i10,ASTA 1.2 (O) VTVT Manual,2014,"25,603 km",Petrol,1st Owner,"₹4,51,000"
606,Hyundai,2016 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2016,"60,965 km",Petrol,1st Owner,"₹4,65,000"
607,Mahindra,2018 Mahindra KUV 100 NXT,K2 6 STR Manual,2018,"62,730 km",Petrol,2nd Owner,"₹4,00,000"

# New Delhi

In [166]:
driver=webdriver.Chrome(r"D:\driver\chromedriver.exe")

In [168]:
url=("https://www.cars24.com/buy-used-cars/")
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [169]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[1]/div/div/div/input')

In [170]:
Search.send_keys("Delhi")

In [171]:
Clicksearch=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[2]/ul/li/a/span/img')

In [172]:
Clicksearch.click()

In [176]:
#Creating empty list 
Brand8 = []
Model8 = []
Variant8=[]
Manufacturing_Year8 = []
Driven_KiloMeters8= []
Fuel8 = []
Number_of_Owners8 = []
Car_Price8= []

#Fetching data for Brand

try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brand8.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand8.append('-')


#Fetching data for Model   
try:
    Model_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name:
        Model8.append(i.text)
except NoSuchElementException as e:
    Model8.append('-')

#Fetching data for Variant   
try:
    Variant_name=driver.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name:
        Variant8.append(i.text)
except NoSuchElementException as e:
    Variant8.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing:
        Manufacturing_Year8.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year8.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter:
        Driven_KiloMeters8.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters8.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name:
        Fuel8.append(i.text)
except NoSuchElementException as e:
    Fuel8.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner:
        Number_of_Owners8.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners8.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr:
        Car_Price8.append(i.text)
except NoSuchElementException as e:
    Car_Price8x.append('-')

In [190]:
len(Brand81),len(Model8),len(Variant8),len(Manufacturing_Year8),len(Driven_KiloMeters8),len(Fuel8),len(Number_of_Owners8),len(Car_Price8)

(1255, 1255, 1255, 1255, 1255, 1255, 1255, 1255)

In [185]:
Brand81=[]

try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brand81.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand81.append('-')

In [187]:
len(Brand81)

1255

In [191]:
DelhiData= pd.DataFrame({'Brand':Brand81,'Model':Model8, 'Variant':Variant8, 'Manufacturing_Year':Manufacturing_Year8, 'Driven_KiloMeters':Driven_KiloMeters8, 'Fuel':Fuel8, 'Number_of_Owners':Number_of_Owners8,  'Car_Price':Car_Price8})
DelhiData

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,KIA,2020 KIA SELTOS,HTK 1.5 PETROL Manual,2020,"4,804 km",Petrol,1st Owner,"₹12,41,000"
1,Hyundai,2018 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,2018,"5,505 km",Petrol,1st Owner,"₹5,20,000"
2,Maruti,2010 Maruti Swift Dzire,VXI Manual,2010,"29,766 km",Petrol,1st Owner,"₹2,49,000"
3,KIA,2020 KIA SELTOS,HTK 1.5 PETROL Manual,2020,"11,146 km",Petrol,1st Owner,"₹11,41,000"
4,Hyundai,2011 Hyundai i20,MAGNA O 1.2 Manual,2011,"41,050 km",Petrol,1st Owner,"₹2,75,000"
...,...,...,...,...,...,...,...,...
1250,Tata,2018 Tata Tiago,XE 1.2 REVOTRON Manual,2018,"67,048 km",Petrol + CNG,1st Owner,"₹4,30,000"
1251,Maruti,2017 Maruti Swift,LXI OPT Manual,2017,"29,506 km",Petrol,1st Owner,"₹4,76,000"
1252,Maruti,2013 Maruti Swift,VXI Manual,2013,"40,223 km",Petrol,1st Owner,"₹3,72,000"
1253,Hyundai,2020 Hyundai VENUE,SMT 1.5 CRDI Manual,2020,"40,143 km",Diesel,1st Owner,"₹8,77,000"
1254,Honda,2019 Honda Amaze,1.2 SMT I VTEC Manual,2019,"11,291 km",Petrol,1st Owner,"₹6,72,000"

## Noida

In [192]:
driver=webdriver.Chrome(r"D:\driver\chromedriver.exe")

In [193]:
url=("https://www.cars24.com/buy-used-cars/")
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [194]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[1]/div/div/div/input')

In [195]:
Search.send_keys("Noida")

In [196]:
Clicksearch=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[2]/ul/li/a/span/img')

In [197]:
Clicksearch.click()

In [200]:
#Creating empty list 
Brand10 = []
Model10 = []
Variant10=[]
Manufacturing_Year10 = []
Driven_KiloMeters10= []
Fuel10 = []
Number_of_Owners10 = []
Car_Price10= []

#Fetching data for Brand

try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brand10.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand10.append('-')


#Fetching data for Model   
try:
    Model_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name:
        Model10.append(i.text)
except NoSuchElementException as e:
    Model10.append('-')

#Fetching data for Variant   
try:
    Variant_name=driver.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name:
        Variant10.append(i.text)
except NoSuchElementException as e:
    Variant10.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing:
        Manufacturing_Year10.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year10.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter:
        Driven_KiloMeters10.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters10.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name:
        Fuel10.append(i.text)
except NoSuchElementException as e:
    Fuel10.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner:
        Number_of_Owners10.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners10.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr:
        Car_Price10.append(i.text)
except NoSuchElementException as e:
    Car_Price10.append('-')

In [204]:
len(Brand82),len(Model10),len(Variant10),len(Manufacturing_Year10),len(Driven_KiloMeters10),len(Fuel10),len(Number_of_Owners10),len(Car_Price10)

(1253, 1253, 1253, 1253, 1253, 1253, 1253, 1253)

In [202]:
Brand82=[]

try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brand82.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand82.append('-')

In [205]:
NoidaData= pd.DataFrame({'Brand':Brand82,'Model':Model10, 'Variant':Variant10, 'Manufacturing_Year':Manufacturing_Year10, 'Driven_KiloMeters':Driven_KiloMeters10, 'Fuel':Fuel10, 'Number_of_Owners':Number_of_Owners10,  'Car_Price':Car_Price10})
NoidaData

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,Hyundai,2011 Hyundai i10,MAGNA 1.2 KAPPA2 Manual,2011,"45,437 km",Petrol,1st Owner,"₹2,70,000"
1,Maruti,2011 Maruti Wagon R 1.0,VXI Manual,2011,"28,971 km",Petrol,1st Owner,"₹2,72,000"
2,Hyundai,2020 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,2020,"10,547 km",Petrol,1st Owner,"₹5,19,000"
3,Datsun,2018 Datsun Redi Go,A Manual,2018,"22,237 km",Petrol,1st Owner,"₹2,77,000"
4,Hyundai,2010 Hyundai i20,MAGNA O 1.2 Manual,2010,"21,727 km",Petrol,1st Owner,"₹2,93,000"
...,...,...,...,...,...,...,...,...
1248,Tata,2018 Tata Tiago,XE 1.2 REVOTRON Manual,2018,"67,048 km",Petrol + CNG,1st Owner,"₹4,30,000"
1249,Maruti,2017 Maruti Swift,LXI OPT Manual,2017,"29,506 km",Petrol,1st Owner,"₹4,76,000"
1250,Maruti,2013 Maruti Swift,VXI Manual,2013,"40,223 km",Petrol,1st Owner,"₹3,72,000"
1251,Hyundai,2020 Hyundai VENUE,SMT 1.5 CRDI Manual,2020,"40,143 km",Diesel,1st Owner,"₹8,77,000"
1252,Honda,2019 Honda Amaze,1.2 SMT I VTEC Manual,2019,"11,291 km",Petrol,1st Owner,"₹6,72,000"

## Pune

In [206]:
driver=webdriver.Chrome(r"D:\driver\chromedriver.exe")

In [207]:
url=("https://www.cars24.com/buy-used-cars/")
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [208]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[1]/div/div/div/input')

In [209]:
Search.send_keys("Pune")

In [210]:
Clicksearch=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div/div[1]/div/div[2]/ul/li/a/span/img')

In [211]:
Clicksearch.click()

In [212]:
#Creating empty list 
Brand11 = []
Model11 = []
Variant11=[]
Manufacturing_Year11 = []
Driven_KiloMeters11= []
Fuel11 = []
Number_of_Owners11 = []

Car_Price11= []

#Fetching data for Brand

try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brand11.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand11.append('-')


#Fetching data for Model   
try:
    Model_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name:
        Model11.append(i.text)
except NoSuchElementException as e:
    Model11.append('-')

#Fetching data for Variant   
try:
    Variant_name=driver.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name:
        Variant11.append(i.text)
except NoSuchElementException as e:
    Variant11.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing:
        Manufacturing_Year11.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year11.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter:
        Driven_KiloMeters11.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters11.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name:
        Fuel11.append(i.text)
except NoSuchElementException as e:
    Fuel11.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner:
        Number_of_Owners11.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners11.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr:
        Car_Price11.append(i.text)
except NoSuchElementException as e:
    Car_Price11.append('-')

In [214]:
Brand83=[]

try:
    Brand_name=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name:
        Brand83.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand83.append('-')

In [215]:
len(Brand83),len(Model11),len(Variant11),len(Manufacturing_Year11),len(Driven_KiloMeters11),len(Fuel11),len(Number_of_Owners11),len(Car_Price11)

(553, 553, 553, 553, 553, 553, 553, 553)

In [216]:
PuneData= pd.DataFrame({'Brand':Brand83,'Model':Model11, 'Variant':Variant11, 'Manufacturing_Year':Manufacturing_Year11, 'Driven_KiloMeters':Driven_KiloMeters11, 'Fuel':Fuel11, 'Number_of_Owners':Number_of_Owners11,  'Car_Price':Car_Price11})
PuneData

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,Toyota,2017 Toyota Innova Crysta,2.7 ZX AT 7 STR Automatic,2017,"91,994 km",Petrol,2nd Owner,"₹15,98,000"
1,Maruti,2020 Maruti New Wagon-R,ZXI 1.2 Manual,2020,"76,564 km",Petrol,1st Owner,"₹5,27,000"
2,Hyundai,2019 Hyundai Eon,ERA PLUS Manual,2019,"53,001 km",Petrol,1st Owner,"₹3,16,000"
3,Maruti,2012 Maruti Alto K10,VXI Manual,2012,"84,303 km",Petrol,1st Owner,"₹2,11,000"
4,MG,2019 MG HECTOR,SHARP DCT PETROL Automatic,2019,"14,004 km",Petrol,2nd Owner,"₹13,56,000"
...,...,...,...,...,...,...,...,...
548,Hyundai,2014 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,2014,"65,015 km",Petrol,1st Owner,"₹3,91,000"
549,Maruti,2017 Maruti Ertiga,VXI CNG Manual,2017,"68,439 km",Petrol + CNG,1st Owner,"₹7,91,000"
550,Maruti,2011 Maruti Alto,LXI Manual,2011,"25,012 km",Petrol,1st Owner,"₹1,92,000"
551,Hyundai,2017 Hyundai Verna,1.6 EX CRDI Manual,2017,"91,495 km",Diesel,1st Owner,"₹8,79,000"
552,Maruti,2015 Maruti Ertiga,VXI CNG Manual,2015,"73,123 km",Petrol + CNG,1st Owner,"₹7,11,000"

# Merging all Dataframe

In [217]:
Allcars=pd.concat([Mumbaidata,Bangaloredata,Hyderabaddata,DelhiData,NoidaData,PuneData], ignore_index=True)

In [218]:
Allcars

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,Maruti,2015 Maruti Swift Dzire,VXI Manual,2015,"92,630 km",Petrol,1st Owner,"₹4,53,000"
1,Tata,2018 Tata Tiago,XZA 1.2 REVOTRON Automatic,2018,"15,548 km",Petrol,2nd Owner,"₹5,08,000"
2,Ford,2014 Ford Ecosport,1.5 TITANIUMTDCI OPT Manual,2014,"93,737 km",Diesel,1st Owner,"₹5,65,000"
3,Hyundai,2013 Hyundai Verna,FLUIDIC 1.6 EX VTVT Manual,2013,"10,546 km",Petrol,1st Owner,"₹4,74,400"
4,Datsun,2016 Datsun Redi Go,T (O) Manual,2016,"31,546 km",Petrol,2nd Owner,"₹2,00,000"
...,...,...,...,...,...,...,...,...
5368,Hyundai,2014 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,2014,"65,015 km",Petrol,1st Owner,"₹3,91,000"
5369,Maruti,2017 Maruti Ertiga,VXI CNG Manual,2017,"68,439 km",Petrol + CNG,1st Owner,"₹7,91,000"
5370,Maruti,2011 Maruti Alto,LXI Manual,2011,"25,012 km",Petrol,1st Owner,"₹1,92,000"
5371,Hyundai,2017 Hyundai Verna,1.6 EX CRDI Manual,2017,"91,495 km",Diesel,1st Owner,"₹8,79,000"
5372,Maruti,2015 Maruti Ertiga,VXI CNG Manual,2015,"73,123 km",Petrol + CNG,1st Owner,"₹7,11,000"

In [219]:
Allcars.to_csv(r'E:\DS Intenship projects\Project form Mentor\Car Price Prediction\car_price.csv', index=True)

In [221]:
Allcars.to_excel(r'E:\DS Intenship projects\Project form Mentor\Car Price Prediction\car_price.xlsx', index=True)